body {
    max-width: 1514px;
    overflow-x: hidden;
    margin: 0 !important;
}
/* Loader Container (Full Screen) */
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/banner-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Loader (Spinning Border) */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid  #7d1550; /* purple*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinloader 2s linear infinite;
}

/* Rotating Logo */
.loader img {
    height: 90px;
    width: 90px;
    animation: spinlogo 2s linear infinite;
}

/* Keyframe Animations */
@keyframes spinloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spinlogo {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}



.breadcumb-wrapper {
    background-color: #021210;
    position: relative;
    min-height: 561px;
    display: flex;
    align-items: end;
    padding: 129px 0 125px;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.z-index-common {
    position: relative;
    z-index: 3;
}

.breadcumb-content {
    text-align: left;
}

.breadcumb-title {
    color: white;
    margin: -.3em 0 10px 10px;
    max-width: 100%;
    width: 100%;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 70px;
}

.blog-title,
.pagi-title,
.breadcumb-title {
    word-break: break-word;
}

.breadcumb-menu {
    max-width: 100%;
    margin: 0em 0 0em 10px;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.breadcumb-menu li,
.breadcumb-menu a,
.breadcumb-menu span {
    white-space: normal;
    word-break: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #bdbbba;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    text-decoration: none;
}

.breadcumb-menu a {
    color: red;
}

.breadcumb-menu li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.breadcumb-menu li:after {
    position: relative;
    margin: 0 6px;
    color: red;
}
.space{
    padding-top: 12.0vh;
    background-color: #7d1550;
}
.product-style1 {
    margin-bottom: 3.0vh;
    text-align: center;
}
.product-style1 .product-img {
    position: relative;
    margin-bottom: 3.0vh;
    display: inline-block;
}

.product-style1 .product-img>img, .product-style1 .product-img .img {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transform: rotate(22deg);
}
.product-style1 .product-title{
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-left: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.product-title a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}