body{
    max-width: 1514px;
    overflow-x: hidden; 
   margin: 0 !important;
}
.breadcumb-wrapper {
    position: relative;
    min-height: 561px;
    display: flex;
    align-items: end;
    padding: 129px 0 125px;
height: 500px;
    background-image: url('banner-background.png'); /* Set background image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
}
.breadcumb-images {
    position: absolute;
    right: 50px; /* Adjust distance from the right */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}
.breadcumb-content h1{
    font-size: 100px;
    color:#7d1550 ;
}


.space-extra, .space-extra-bottom {
    padding-bottom: calc(120px - 30px);
    background-color: #7d1550;
}
.space, .space-bottom {
    padding-bottom: 120px;
}
.space, .space-top {
    padding-top: 120px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}
.sec-subtitle {
    text-transform: uppercase;
    display: block;
    color:#d5c8b7;
    font-size: 15px;
    font-weight: 700;
    margin: -.46em 0 10px 0;
    letter-spacing: 3px;
}
.text-white {
    color: white !important;
}
.sec-title {
    text-transform: uppercase;
    line-height: 1.35;
    margin: -.25em 0 15px 0;
}
.contact-info {
    font-size: 14px;
    font-weight: 600;
    color: #9c9b9b;
    text-transform: capitalize;
    max-width: 82%;
}
.contact-info span {
    color: #dadada;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4px;
}
.address-info {
    display: flex;
    align-items: center;
    gap: 19px;
    font-size: 14px;
    color: #dadada;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .4px;
    padding: 20px 0;
    border-top: 1px dashed rgb(156 155 155 / .5);
}
.address-info a {
    color: #dadada;
    text-decoration: none;
}
.address-info:last-child {
    border-bottom: 1px dashed rgb(156 155 155 / .5);
}
.form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-style2 .form-control {
    background-color: #d5c8b7;
    border-color: #212020;
    color: black;
    font-size: 14px;
    font-weight: 600;
    height: 60px;
}
.form-style2 .vs-btn {
    margin-top: 10px;
}
.form-group ::placeholder{
    color: black
}
.vs-btn{
    background-color: #d5c8b7;
    color: black;
    padding: 19px 45px;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: solid;
}
/* <!-- footer --> */
.footer-layout2 {
    padding-bottom: 0.2vh;
    position: relative;
    z-index: 9;
}
.footer-widgets {
    padding: 9.0vh 0;
}
.footer-logo {
    margin-bottom: 3.5vh;
}
.footer-info {
    font-size: 2vh;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--smoke-color);
}
.footer-info.style2 p {
    color:#6c1447;
    font-weight: 600;
    line-height: 3.0vh;
    text-transform: capitalize;
}
p {
    margin: 0 0 1.8vh 0;
    color: #6c1447;
    line-height: 1.63;
    letter-spacing: .05vh;
}
.footer-info.style2 p span {
    font-weight: 700;
    text-transform: uppercase;
}
.footer-title {
    color: #6c1447;
    font-size: 2.6vh;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: .02vh;
    font-weight: 800;
    margin: 0 0 2.5vh 0;
}
.footer-menu2 a {
    display: block;
    font-size: 1.8vh;
    font-weight: 600;
    color:#6c1447;
    letter-spacing: .04vh;
    text-transform: capitalize;
    margin: 0 0 0.5vh 0;
}
.footer-layout2 a:hover{
    color:#412e41;
    text-decoration: underline;
}
.footer-copyright.style2 {
    background-color: #d5c8b7;
    border-top: 0;
    color:#6c1447;
    padding: 4.0vh 1.5vh;
    text-align: center;
}
.footer-copyright {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.8vh;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .04vh;
    color: #6c1447;
    padding: 4.0vh 1.5vh;
    border-top: 0.1vh solid rgba(165, 101, 101, 0.1);
  
}
.footer-layout2 a{
    text-decoration: none;
}
