body{
    max-width: 1514px;
    overflow-x: hidden; 
}
/* responsiveness */
@media (max-width: 991.98px) {
    .main-menu, .search, .wish-cart {
        display: none;
    }
    .logo{
        height: 15px;
    }

    /* Show menu items, search bar, wishlist, and bag in a single column when active */
    .main-menu.active, .search.active, .wish-cart.active {
        display: block;
        width: 100%;
    }

    /* Style the menu items to appear in a single column */
    .main-menu.active ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .main-menu.active ul li {
        display: block;
        margin: 10px 0;
    }
    .hero-img1, .hero-img2, .hero-img3{
        display: none !important;
    }
    .bannerrow{
        padding: 0px !important;
    }
    .grid-container{
        display: block !important;
    }
    .hbtn1{
        padding: 0px !important;
        text-align: center;
    }
    .hero-main .hero-title {
        font-size: 10vh !important;
    }
    /* Style the search bar, wishlist, and bag to appear in a single column */
    .search.active, .wish-cart.active {
        margin: 10px 0;
    }
    #nav-search{
        width: 50% !important;
        margin-left: -30px;
    }
    .search{
        text-align: center;
    }
    .wishlist{
        display: block;
        text-align: left;
        margin-left: 55px;
        width: 100%;
    }
    .wc-linkbag{
        margin-right: 55px;
    }
    /* Style the toggle button */
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: black;
        font-size: 24px;
        cursor: pointer;
        padding: 0;
    }
    .fa-bars{
        position: relative;
        left:270px;
    }

    /* Change the hamburger icon to a cross (X) icon when the menu is active */
    .menu-toggle.active i::before {
        content: "\f00d"; /* Font Awesome cross (X) icon */
    }
    .main-menu ul li a::before , .wish-cart a::before {
        left: 0;
        transform: translateX(-100%);
    }
    .main-menu ul li a::after , .wish-cart ul li a::after {
        right: 0;
        transform: translateX(100%);
    }
    .main-menu ul li:hover > a::before, .main-menu ul li:hover > a::after, .wish-cart:hover > a::before, .wish-cart:hover > a::after {
        transform: translateX(0);
    }

    .main-menu ul li a::before, .main-menu ul li a::after , .wish-cart a::before, .wish-cart a::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 2px;
        background-color: #6c1447 ;
        transition: all 0.3s ease;
    }
    .main-menu ul li a , .wish-cart a {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #333;
        padding: 10px 15px;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }
}
.main-menu ul li a::before, .main-menu ul li a::after , .wish-cart a::before, .wish-cart a::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: #7d1550 ;
    transition: all 0.3s ease;
}
.main-menu ul li a , .wish-cart a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-top: 21px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.main-menu ul li:hover > a::before, .main-menu ul li:hover > a::after , .wish-cart:hover > a::before, .wish-cart:hover > a::after{
    transform: translateX(0);
}
.sticky-active{
    background-color:#f7e9cc;
    
}
    #nav-search{

        margin-top: 20px;
    }
#navbar{
    position: sticky !important;
    top: 0 !important;
    z-index: 100;
}
.wish-cart a:hover{
    color: black;
}
.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    width: 3.1vh;
    height: 2.3vh;
}

.main-menu a, .header-wc a{
    color: black;
}
.menu-category .menu-list {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 80%;
    padding: 0;
    margin: 0;
    box-shadow: 0 0.4vh 1.2vh rgb(0 0 0 / .1);
    border-radius: 0.5vh;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
}
.main-menu ul li a::before , .wish-cart a::before {
    left: 0;
    transform: translateX(-100%);
}
.main-menu ul li a::after , .wish-cart a::after{
    right: 0;
    transform: translateX(100%);
}
.main-menu ul li:hover > a::before, .main-menu ul li:hover > a::after ,.wish-cart a:hover > a::before, .wish-cart:hover > a::after  {
    transform: translateX(0);
}
.main-menu ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: disc;
}
.main-menu ul li:first-child {
    margin-left: 0;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
.main-menu>ul>li {
    margin: 0 2.4vh;
}
.main-menu ul.sub-menu {
    padding: 1.8vh 2.0vh;
    left: -2.7vh;
}

.main-menu ul.sub-menu {
    position: absolute;
    text-align: left;
    top: 150%;
    left: 0;
    box-shadow: 0 0.5vh 1.0vh 0 rgb(0 0 0 / .1);
    visibility: hidden;
    min-width: 19vh;
    width: max-content;
    padding: 0.7vh;
    left: -1.4vh;
    margin-top: 0;
    opacity: 0;
    z-index: -1;
    border-bottom: 0.3vh solid;
    box-shadow: 0 1.0vh 6.0vh 0 rgb(0 0 0 / .09), 0 0.3vh 0 0 rgb(231 13 60 / .004);
    transform-origin: top center;
    transition: all 0.3s ease-in-out;
}
.main-menu ul {
    margin: 0;
    padding: 0;
}
.main-menu ul.sub-menu li {
    display: block;
    margin: 0 0;
    padding: 0.3vh 0;
}
.main-menu ul li:first-child {
    margin-left: 0;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
.main-menu ul li:hover>ul.sub-menu, .main-menu ul li:hover>ul.mega-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    z-index: 9;
    top: 100%;
    transition: all 0.3sease-in-out;
}

.main-menu ul.sub-menu {
    padding: 1.8vh 2.0vh;
    left: -2.7vh;
}
.main-menu ul.sub-menu{
    position: absolute;
    text-align: left;
    background-color: white;
    width: max-content;
    border-bottom: 0.3vh solid brown;
    box-shadow: 0 1.0vh 6.0vh 0 rgb(0 0 0 / .09), 0 0.3vh 0 0 rgb(231 13 60 / .004);
    transform-origin: top center;
}
.main-menu li a, .wish-cart a{
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}
.sub-menu li a{
    color:black;
}
.header-search input {
    flex: 1;
    border: none;
    transition: allease 0.4s;
    background-color: #fff0;
    height: auto;
    padding: 0.2vh 2.5vh 0.2vh 0;
    color: #eee7d5;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.11vh;
    font-size: 1.1vh;
    min-width: 18.9vh;
    
}
.search{
    padding-left: 3.0vh;
}
.wish-cart{

    display: inline;
}
.logo-div{
    padding:1.0vh;
}
.wishlist{
    padding-right: 4.8vh;
    display: inline;
}

select, .form-control, .form-select, textarea, input {
    border-radius: 0;
    width: 100%;
}

.z-index-common {
    position: relative;
    z-index: 3;
}
img, svg {
    vertical-align: middle;
}

/* banner1 */
.hero-layout1 .ele1, .hero-layout1 .ele2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    animation: vs-rotations 80s infinitelinear;
}

.hero-layout1 .ele2 {
    right: 0;
    animation-duration: 85s;
}

.vs-hero {
    position: relative;
}
.background-image, [data-bg-src] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-main {
    min-height: 78.5vh;
    display: flex;
    align-items: center;
    position: relative;
}
.hero-main .hero-img1 {
    left: 0;
    top: 0;
    bottom: 0;
    animation-delay: 0.8s;
}
.hero-main .hero-img1, .hero-main .hero-img2, .hero-main .hero-img3, .hero-main .hero-img4 {
    position: absolute;
    animation-delay: 1s;
}
.hero-main .hero-img2 {
    top: 4.0vh;
    left: 22.7vh;
    animation-delay: 0.6s;
}
.hero-main .hero-img3 {
    left: auto;
    right: -3.3vh;
}
.hero-main .hero-img4 {
    right: 32%;
    top: 2.0vh;
    position: absolute;
    animation-delay: 1s;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* 0);
    margin-right: calc(-.5* 1.5rem);
    margin-left: calc(-.5* 1.5rem);
}
.hero-main .hero-title {
    font-size: 12.0vh;
    text-transform: uppercase;
    line-height: .95;
    font-weight: 400;
    overflow: hidden;
}
.hero-main .hero-title span {
    display: block;
}
.hero-main .hero-title .htext1 {
    animation-delay: 0s;
}

.hero-main .hero-title .highlight {
    color: #7d1550;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes slide-in {
    0%{
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
@-webkit-keyframes slide-in {
    0%{
        -webkit-transform: translateX(-50%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}
.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-fill-mode: both;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.animate__fadeslide{
    -webkit-animation: slide-in 0.5s forwards;
    animation: slide-in 0.5s forwards;
    animation-name: slide-in;

}
.hero-main .hero-title .htext2 {
    animation-delay: 0.15s;
}
.hero-main .hero-title span {
    display: block;
}
.hero-main .hero-subtitle {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4.0vh;
    overflow: hidden;
    animation-delay: 0.2s;
}

.hero-main .hero-subtitle a {
    color: #7d1550;
}

.hero-main .hbtn1 {
    animation-delay: 0.4s;
}
.vs-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #7d1550;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    font-weight: 600;
    line-height: 1;
    padding: 1.9vh 4.5vh;
    border-radius: 0;
    z-index: 1;
    overflow: hidden;
    letter-spacing: .01vh;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
    right: -70%;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    transition: 0.5s;
    
  }
  .button a:hover{
    color: white;
  }
  
  .button:hover span {
    padding-right: 25px;
   
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    
}
  
/* <!-- section2  --> */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start slightly below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}
/* section 2 */
.product-style1 {
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Initially positioned lower */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.product-style1.fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}
.space-extra, .space-extra-bottom {
    padding-bottom: calc(12.0vh - 3.0vh);
    background-color: #7d1550;
}

.space, .space-bottom {
    padding-bottom: 12.0vh;
}
.space, .space-top {
    padding-top: 12.0vh;
}
.z-index-common {
    position: relative;
    z-index: 3;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.title-area {
    margin-bottom: calc(8.0vh) - 2.0vh;
}

.text-center {
    text-align: center !important;
}
.sec-subtitle {
    text-transform: uppercase;
    display: block;
    color: #f7e9cc;
    font-size: 1.5vh;
    font-weight: 700;
    margin: -.46em 0 1.0vh 0;
    letter-spacing: 0.3vh;
}
.text-white {
    color: white !important;
}
.sec-title {
    text-transform: uppercase;
    line-height: 1.35;
    margin: -.25em 0 1.5vh 0;
    color: #7d1550;
}
.text-white {
    --bs-text-opacity: 1;
}
.h2, h2 {
    font-size: 5.0vh;
}
.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
    font-family: "Cormorant", serif;
    color: #021210;
    text-transform: none;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1.5vh 0;
}
img:not([draggable]), embed, object, video {
    max-width: 100%;
    height: auto;
}
img {
    border: none;
    max-width: 100%;
}
.product-style1 {
    margin-bottom: 3.0vh;
    text-align: center;
}
.product-style1 .product-img {
    position: relative;
    margin-bottom: 3.0vh;
    display: inline-block;
}
.product-style1 .product-img::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 62, 1, .25);
    position: absolute;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transform: rotate(22deg) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3sease-in-out;
}
.product-style1 .product-action {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3sease-in-out;
}

button {
    transition: allease 0.4s;
}
.product-style1 .product-action__btn {
    width: 6.2vh;
    height: 6.2vh;
    background-color: rgb(41 45 50 / .8);
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-style1 .product-title {
    font-size: 3.8vh;
    margin: 0 0 0.5vh 0;
    text-transform: capitalize;
}

a:active, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: red;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, span a {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

a {
    color: white;
    text-decoration: none;
    outline: 0;
    transition: allease 0.4s;
}

.product-style1 .product-price, .product-style1 .product-cart {
    display: block;
    font-size: 1.6vh;
    font-weight: 700;
    color:#f7e9cc;
    text-transform: uppercase;
    letter-spacing: 0.16vh;
    position: relative;
    z-index: 1;
    transition: all 0.3sease-in-out;
}

.product-style1 .product-price {
    font-size: 3vh;
    font-weight: 700;
    color: #f7e9cc;
    letter-spacing: .09vh;
    display: block;
    margin-bottom: 0.8vh;
}
.product-style1 .product-price__number, .product-style1 .product-cart__number {
    transition: all 0.3sease-in-out;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    display: inline-block;
}
.product-style1 .product-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #fff0;
    border: none;
    padding: 0;
    font-size: 1.6vh;
    font-weight: 700;
    letter-spacing: .05vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3sease-in-out;
}
h3 a{
    color: white;
    text-decoration: none;
}
.product-style1 .product-rate i {
    font-size: 3.3vh;
    color: gold;
}
.product-style1 .product-img>img, .product-style1 .product-img .img {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transform: rotate(22deg);
}
.fa-star:before {
    content: '\f005';
}
.fa-sharp, .fa-solid, .fas, .fass {
    font-weight: 900;
}
.fa-classic, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fal, .far, .fas, .fat {
    font-family: 'Font Awesome 6 Pro';
}

.fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, .fa-regular, .fa-sharp, .fa-sharp-duotone, .fa-sharp-solid, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fasds, .fasl, .fasr, .fass, .fast, .fat {
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}
/* top categories */
.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2.0vh;
    width: 100%;
    height: 100%;
    background-color: #f7e9cc;
}
.grid-container .item1 {
    grid-area: 1 / 1 / 3 / 2;
}
.view-style {
    position: relative;
}
.wow-animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.view-style .view-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 41.3vh;
    min-height: 30.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.3vh;
    z-index: 1;
}
.view-style .view-content::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #856f3c;
    border: 1.0vh solid white;
    opacity: 45%;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.view-style .view-content .view-title {
    color: white;
    font-size: 4.5vh;
    text-transform: uppercase;
    line-height: 1;
    align-self: flex-start;
}
.view-style .view-content .view-link {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5vh;
    letter-spacing: .01vh;
    gap: 0.7vh;
    align-self: flex-start;
}
a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
    outline: 0;
}

a {
    color: white;
    outline: 0;
    transition: allease 0.4s;
}
.view-style .view-content .view-link i {
    font-size: 1.5vh;
}
.fa-angle-double-right:before, .fa-angles-right:before {
    content: '\f101';
}

.grid-container .item2 {
    grid-area: 1 / 2 / 2 / 3;
}
.view-style>img {
    width: 100%;
}
.view-style .view-title2 a {
    display: inline-flex
;
    align-items: center;
    gap: 2.0vh;
}
.grid-container .item3 {
    grid-area: 2 / 2 / 3 / 3;
}
.view-style .view-title2 {
    position: absolute;
    font-size: 4.5vh;
    line-height: 5.4vh;
    text-transform: capitalize;
    text-shadow: 0 0.4vh 0.4vh rgb(0 0 0 / .15);
    bottom: 4.0vh;
    left: 4.0vh;
    margin-bottom: 0;
}
.view-style .view-title2 a {
    display: inline-flex;
    align-items: center;
    gap: 2.0vh;
}
.grid-container .item4 {
    grid-area: 1 / 3 / 3 / 4;
}
.view-style .view-title2 a span {
    width: 4.4vh;
    height: 4.4vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0.2vh dashed white;
    border-radius: 50%;
    transition: all 0.3sease-in-out;
}
.grid-container a{
    color: white;
    text-decoration: none;
}
.grid-container a:hover{
    color:black;
    text-decoration: underline;
}
/* free shipping */
.space-top{
    background-color: #7d1550;
}
.mb-30 {
    margin-bottom: 3.0vh;
}
.feature-style {
    text-align: center;
}
.feature-style__title {
    font-size: 3.0vh;
    font-weight: 700;
    color: white;
    margin: 0 0 1.5vh 0;
    text-transform: capitalize;
}
.feature-style__text {
    color: #9c9b9b;
    font-weight: 600;
    margin-bottom: 0;
}

p {
    margin: 0 0 1.8vh 0;
    color: black;
    line-height: 1.63;
    letter-spacing: .05vh;
}
@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* customs jewellery */
.space-extra-bottom {
    padding-bottom: calc(12.0vh - 3.0vh);
}
.img-box5 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
/* Ensure the video element is responsive */
.responsive-video {
    width: 532px;         /* Make the video fill the container */
    height: auto;        /* Maintain aspect ratio */
    display: block;      /* Remove any space below the video */
}
.img1 {
    max-width:532px;     /* Ensure the container doesn’t overflow */
    margin: 0 auto;      /* Center the container */
}
.img-box5 .img3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-width: 17.1vh;
    min-height: 26.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9.2vh;
    right: 3.0vh;
}
.img-box5 .img4 {
    position: absolute;
    z-index: -1;
}

.sec-subtitle {
    text-transform: uppercase;
    display: block;
    color: #7d1550;
    font-size: 4vh;
    font-weight: 700;
    margin: -.46em 0 1.0vh 0;
    letter-spacing: 0.3vh;
}
.sec-title{
    color: #7d1550;
}
.text-white {
    color: white !important;
}
.pt-20 {
    padding-top: 2.0vh;
    color: black;
}
.sec-text {
    color:#9c9b9b;
    letter-spacing: .05vh;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 3.0vh;
}
.style4 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #7d1550;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    font-weight: 600;
    line-height: 1;
    padding: 1.9vh 4.5vh;
    border-radius: 0;
    z-index: 1;
    overflow: hidden;
    letter-spacing: .01vh;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;

}
.style4 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .style4 span:after {
    content: '\00bb';
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    
  }  
  .style4:hover span {
    padding-right: 25px;
   color: white;
  }
  
  .style4:hover span:after {
    opacity: 1;
    right: 0;
    
}
/* static banner */
.slick-list, .slick-slider {
    position: relative;
    display: block;
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    min-width: 100%;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 0.1vh;
}
.insta-style {
    position: relative;
    overflow: hidden;
}
.insta-style img {
    width: 100%;
}
.slick-slide img {
    display: inline-block;
}
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.insta-style img.fade-in-zoom {
    animation: fadeInZoom 1sease-out forwards;
}
.insta-style img {
    opacity: 0; /* Initially hidden */
    transform: scale(0.5); /* Initially scaled down */
    transition: transform 0.2s ease, opacity 0.3s ease;
    will-change: transform, opacity;
    cursor: pointer;
}

/* This class will be added when the image enters the viewport */
.insta-style img.fade-in-zoom {
    animation: fadeInZoom 1s ease-out forwards;
}

/* Optional: Add a brightness and shadow effect when hovered */
.insta-style img:hover {
    filter: brightness(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid #78064c; /* Border appears on hover */
    outline-offset: 5px;
    
}

/* footer */
.footer-layout2 {
    padding-bottom: 0.2vh;
    position: relative;
    z-index: 9;
}
.footer-widgets {
    padding: 9.0vh 0;
    padding-bottom: 0;
}
.footer-logo {
    margin-bottom: 3.5vh;
}
.footer-info {
    font-size: 2vh;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--smoke-color);
}
.footer-info.style2 p {
    color: #6c1447;
    font-weight: 600;
    line-height: 3.0vh;
    text-transform: capitalize;
}
p {
    margin: 0 0 1.8vh 0;
    color: #6c1447;
    line-height: 1.63;
    letter-spacing: .05vh;
}
.footer-info.style2 p span {
    font-weight: 700;
    text-transform: uppercase;
}
.footer-title {
    color: #6c1447;
    font-size: 2.6vh;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: .02vh;
    font-weight: 800;
    margin: 0 0 2.5vh 0;
}
.footer-menu2 a {
    display: block;
    font-size: 1.8vh;
    font-weight: 600;
    color: #6c1447;
    letter-spacing: .04vh;
    text-transform: capitalize;
    margin: 0 0 0.5vh 0;
}
.footer-layout2 a:hover{
    text-decoration: underline;
}
.footer-copyright.style2 {
    background-color: #7d1550;
    border-top: 0;
    color: white;
    padding: 0.5vh 0.5vh;
}
.footer-copyright {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.8vh;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .04vh;
    color: #9c9b9b;

    border-top: 0.1vh solid rgb(255 255 255 / .1);
}
.footer-layout2 a{
    text-decoration: none;
}
