body {
    max-width: 1514px;
    overflow-x: hidden;
    margin: 0 !important;
}

.breadcumb-wrapper {
    background-color: #021210;
    position: relative;
    min-height: 561px;
    display: flex;
    align-items: end;
    padding: 129px 0 125px;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.z-index-common {
    position: relative;
    z-index: 3;
}

.breadcumb-content {
    text-align: left;
}

.breadcumb-title {
    color: white;
    margin: -.3em 0 10px 10px;
    max-width: 100%;
    width: 100%;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 70px;
}

.blog-title,
.pagi-title,
.breadcumb-title {
    word-break: break-word;
}

.breadcumb-menu {
    max-width: 100%;
    margin: 0em 0 0em 10px;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.breadcumb-menu li,
.breadcumb-menu a,
.breadcumb-menu span {
    white-space: normal;
    word-break: break-word;
    font-weight: 700;
    font-size: 15px;
    color: #bdbbba;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    text-decoration: none;
}

.breadcumb-menu a {
    color: red;
}

.breadcumb-menu li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.breadcumb-menu li:after {
    position: relative;
    margin: 0 6px;
    color: red;
}
.space, .space-top {
    padding-top: 120px;
    background-color: #7d1550;
}
.space-extra, .space-extra-bottom {
    padding-bottom: calc(120px - 30px);
}
.woocommerce-message, .woocommerce-info {
    position: relative;
    border: #fff0;
    padding: 15px 25px;
    background-color:#d5c8b7;
    margin-bottom: 10px;
    color:  black;
    letter-spacing: .5px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 30px;
}
.woocommerce-message:before, .woocommerce-info:before {
    content: "\f06a";
    font-weight: 900;
    margin-right: 10px;
}
.cart_table {
    border: 1px solid #7d1550;
    margin-bottom: 45px;
    background-color: #d5c8b7;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #7d1550;
}
.cart_table thead th {
    border: none !important;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 26.75px 15px;
    margin-bottom: 10px;
    color: black;
    letter-spacing: .5px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 30px;
}
.cart_table td {
    border: 1px solid #7d1550;
    border-bottom: 1px solid #7d1550;
    color: black;
    font-weight: 600;
    padding: 20px 10px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.cart_table .cart-productimage {
    display: inline-block;
}
.cart_table .cart-productimage>img {
    width: 100px;
    height: 95px;
    -o-object-fit: cover;
    object-fit: cover;
}
.quantity.style2 .qty-btn {
    width: 35px;
    height: 30px;
    background-color: #d5c8b7;
    border: 0;
    border-radius: 0;
    color: #7d1550;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.quantity .qty-btn {
    background-color: #7d1550;
    border: 0;
    line-height: 1;
    display: inline-flex;
    margin: -2px 0;
    padding: 0 0;
    font-size: 16px;
}
.fa-minus:before, .fa-subtract:before {
    content: '\f068';
}
.cart_table .qty-input {
    vertical-align: middle;
    border: 1px solid #7d1550;
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: 400;
    margin: 0 10px;
    border-radius: 0;
    padding: 0;
    min-width: 70px;
    width: 70px;
    min-height: 50px;
    background-color: #7d1550;
}

.quantity input {
    padding: 0 45px 0 24px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0;
    min-width: 114px;
    min-height: 62px;
    background-color: #15191f;    
}
.cart_table .remove {
    color: #7d1550;
    font-size: 18px;
}
.cart_table .cart-actions {
    text-align: right;
    vertical-align: middle;
    padding: 20px;
}
.cart_table td {
    border: 1px solid #101318;
    border-bottom: 1px solid #101318;
    color: black;
    font-weight: 600;
    padding: 20px 10px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.summary-title {
    color: black;
}
.cart_totals {
    border: 1px solid #d5c8b7;
}
.cart_totals th:first-child, .cart_totals td:first-child {
    width: 45%;
    background-color: #d5c8b7;
    color: black;
    letter-spacing: .5px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 30px;
}
.cart_totals th, .cart_totals td {
    vertical-align: top;
    padding: 20px 20px;
    border: none;
    border-bottom: 1px solid #d5c8b7;
    font-size: 14px;
    color: white;
    width: 55%;
}
.cart_totals .amount {
    font-weight: 700;
}
.cart_totals .woocommerce-shipping-methods {
    margin-bottom: 5px;
}
.cart_totals .woocommerce-shipping-methods>li {
    min-height: 26px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}
input[type=radio] {
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    display: none;
}
select, .form-control, .form-select, textarea {
    border-radius: 0;
    width: 100%;
    background-color: #d5c8b7;
    border-color: #0b0e12;
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 60px;
}
.cart_totals .woocommerce-shipping-methods input[type=radio]~label {
    min-height: 26px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: white;
}
.cart_totals .woocommerce-shipping-methods input[type=radio]~label::before {
    padding-right: 1.2px;
    padding-top: .3px;
    font-size: 0;
    top: 50%;
    width: 15px;
    height: 15px;
    line-height: 14px;
    border: 0;
}
.cart_totals .shipping-calculator-button {
    display: inline-block;
    border-bottom: 1px solid;
    color: black;
    font-weight: 700;
}
.shipping-calculator-form .form-select, .shipping-calculator-form .form-control {
    height: 50px;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 0;
    background-position: right 13px center;
}
.form-select, select {
    display: block;
    width: 100%;
    line-height: 1.5;
    background-image: url(images/arrow.svg);
    background-position: right 26px center;
    background-repeat: no-repeat;
    background-size: 16px 12px;
    appearance: none;
    cursor: pointer;
}
p {
    margin: 0 0 18px 0;
    color: black;
    line-height: 1.63;
    letter-spacing: .5px;
}
.vs-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    border:0.5px solid #d5c8b7;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    background-image: radial-gradient(#d5c8b7, #7d1550);
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    padding: 19px 45px;
    z-index: 1;
    overflow: hidden;
    letter-spacing: .1px;
}
.vs-btn:hover{
    background-image: radial-gradient(#7d1550, #d5c8b7);
}
.vs-btn-a{
    text-decoration: none;
}
a{
    text-decoration: none;
}